/* * {
    border: 2px solid black;
} */
body {
    color: black;
    font-size: .75em;
    margin: none;
    padding: none;
}
/* ******** Navbar Begin ************* */
nav {
    position: sticky;
    top: .5%;
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1em;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: none;
    gap: 1px;
    border-bottom: 1px solid lightgray;
}
.nav_left {
    width: 38%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
    padding-top: 3em;
}
.nav_right {
    width: 38%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    padding-top: 3em;
}
.nav_right li a {
    align-self: center;
    padding-top: 1.5px;
    color: black;
    text-decoration: none;
}
.button {
    background-color: red;
    color: white;
    border-color: white;
    border-radius: 8px;
    padding: 5px 10px;
}
li {
    padding-left: 2em;
}
/* ******** Navbar End ************* */
/* ******** Header Begin ************* */
header {
    margin: none;
    position: relative;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 15vh;
    flex-basis: 20%;
    display: flex;
    flex-direction: column;
    justify-content: .center_initial;
    align-items: center;
    list-style: none;
    padding-top: none;
}
.center_initial {
    position: relative;
    transform: translate(50px, -150px);
    height: 20vh;
    width: 60%;
    flex-basis: 20%;
    font-size: 11em;
    font-family: 'Times New Roman', Times, serif;
    color: red;
    background-color: white;
    padding-left: 0px;
    padding-bottom: 1em;
}
.center_logo {
    position: sticky;
    top: 5%;
    transform: translateY(-150px);
    height: 10vh;
    flex-basis: 20%;
    font-size: 2em;
    font-family: cursive;
    font-style: italic;
    padding-left: .75em;
}
/* ******** Header End ************* */
/* ********** Main Content ********* */
.container {
    width: 100%;
    height: 70vh;
    display: flex;
    font-family: Georgia, 'Times New Roman', Times, serif;
    gap: 1%;
    margin-bottom: 1%;
}
.headliner {
    font-size: 1.25em;
    width: 50%;
    height: 70vh;
    display: block;
    text-align: center;
    border-bottom: 1px solid lightgrey;
}
.left_content {
    width: 25%;
    height: 70vh;
    padding-right: 3vh;
    border-right: 1px solid lightgrey;
    order: -1;
    align-self: flex-start;
    border-bottom: 1px solid lightgrey;
}
h2 {
    padding-top: 3vh;
    font-size: 1em;

}
.right_content {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 70vh;
    padding-left: 1%;
    padding-top: 0%;
    border-left: 1px solid lightgrey;
    align-self: flex-start;
}
.snippet1 {
    display: flex;
    flex-direction: row;
    padding-top: none;
    padding-bottom: 2em;
    border-bottom: 1px solid lightgrey;
}
.snippet2, .snippet3, .snippet4 {
    display: flex;
    flex-direction: row;
    padding-top: 1em;
    padding-bottom: 3em;
    border-bottom: 1px solid lightgrey;
}
.snippet1_text, .snippet2_text, .snippet3_text, .snippet4_text {
    display: block;
    height: 2vh;
    width: 70%;
    font-size: 1em;
    padding-right: .5em;
    padding-bottom: 2em;
}

cite {
    font-size: .85em;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
figcaption {
    font-size: .5em;
}
.crossword {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 1em;
    background-color: white;
}
.btn {
    width: 98%;
    border-radius: none;
}